.card{
    width: 18vw;
    height: 36vh;
    color: black;
    background-color: white;
}

.cardBtn{
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 8vw;
    height: 6vh;
    border: 2px solid white;
    margin: 5px;
}
.divImg{
    max-width: 1080px;
    width: 100%;
    height: auto;
}

.card img{
    max-width: 1080px;   
    width: 100%;
    max-height: 500px;  
    min-height: auto;      
    background-size:100%;
    background-repeat: no-repeat;
}