.card{
    width: 18vw;
    height: 50vh;
    color: black;
    background-color: white;
    margin: 20px;
}

.cardBtn{
    background-color: #9DC3C2;
    color: white;
    font-weight: bold;
    width: 8vw;
    height: 6vh;
    border: 2px solid white;
    margin: 5px;
    cursor: pointer;
}
.divImg{
   height: 25vh;
}

.divImg img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}